{% load static %}  <!-- Load static files at the top -->

<div class="card" style="width: 18rem; margin: 10px;">
    <!-- Set the image based on the product name or category -->
    {% if product.name|lower == "lenovo thinkpad x1 carbon" %}
        <img src="{% static 'product_images/pc1.jpg' %}" class="card-img-top" alt="{{ product.name }}">
        {% elif product.name|lower == "macbook pro" %}
        <img src="{% static 'product_images/pc2.jpg' %}" class="card-img-top" alt="{{ product.name }}">
    {% elif product.name|lower == "iphone 16" %}
        <img src="{% static 'product_images/pc3.png' %}" class="card-img-top" alt="{{ product.name }}">
    {% else %}
        <img src="{% static 'product_images/default_image.jpg' %}" class="card-img-top" alt="{{ product.name }}">
    {% endif %}

    <div class="card-body text-center">
        <h5 class="card-title"><strong>{{ product.name }}</strong></h5>
        <p class="card-text">{{ product.description }}</p>
        <p><strong>Stock Quantity:</strong> {{ product.stock_quantity }}</p>
        <p><strong>Price:</strong> <span>RWF {{ product.price|floatformat:2 }}</span></p>
        <a href="{% url 'product-detail' product.id %}" class="btn btn-primary">View Product</a>
    </div>
</div>

